DataWebWizard/src/conf/xml-resources/web-service-references/Soap_4/wsdl/localhost_8080/Soap/Soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="Soap">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/Soap/Soap?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/Soap/Soap?xsd=2"/>
</xsd:schema>
</types>
<message name="crearTabla">
<part name="parameters" element="tns:crearTabla"/>
</message>
<message name="crearTablaResponse">
<part name="parameters" element="tns:crearTablaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="mostrarTablas">
<part name="parameters" element="tns:mostrarTablas"/>
</message>
<message name="mostrarTablasResponse">
<part name="parameters" element="tns:mostrarTablasResponse"/>
</message>
<portType name="Soap">
<operation name="crearTabla">
<input wsam:Action="http://webservices/Soap/crearTablaRequest" message="tns:crearTabla"/>
<output wsam:Action="http://webservices/Soap/crearTablaResponse" message="tns:crearTablaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/Soap/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/Soap/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="mostrarTablas">
<input wsam:Action="http://webservices/Soap/mostrarTablasRequest" message="tns:mostrarTablas"/>
<output wsam:Action="http://webservices/Soap/mostrarTablasResponse" message="tns:mostrarTablasResponse"/>
</operation>
</portType>
<binding name="SoapPortBinding" type="tns:Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearTabla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarTablas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Soap">
<port name="SoapPort" binding="tns:SoapPortBinding">
<soap:address location="http://localhost:8080/Soap/Soap"/>
</port>
</service>
</definitions>